@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Roboto&display=swap");
* {
  font-family: 'ABeeZee', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  background-image: repeating-linear-gradient(135deg, #000039 0px, #000039 10px, transparent 10px, transparent 11px), repeating-linear-gradient(22.5deg, #000039 0px, #000039 10px, transparent 10px, transparent 11px), -webkit-gradient(linear, left top, right top, from(#3cbbe2), color-stop(#843ce2), color-stop(#e23c79), color-stop(#e2c63c), to(#3ce241));
  background-image: repeating-linear-gradient(135deg, #000039 0px, #000039 10px, transparent 10px, transparent 11px), repeating-linear-gradient(22.5deg, #000039 0px, #000039 10px, transparent 10px, transparent 11px), linear-gradient(90deg, #3cbbe2, #843ce2, #e23c79, #e2c63c, #3ce241);
}

#icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#mic {
  color: black;
  font-size: 70px;
  padding: 50px 60px;
  background-color: #59e254;
  border-radius: 50%;
  margin: 50px;
  border: white 2px solid;
}

#mic:hover {
  cursor: pointer;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#infos-commandes {
  background: #151729;
  width: 40%;
  padding-top: 20px;
  border: white 1px solid;
  border-radius: 40px 40px 0px 0px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#infos-commandes p {
  font-size: 18px;
  text-align: center;
  margin: 50px 50px;
}

h2 {
  font-size: 25px;
  margin-bottom: 0px;
}

.fa-arrow-up {
  color: black;
  position: relative;
  top: -40px;
  left: 50%;
  font-size: 40px;
  padding: 10px 17px;
  border-radius: 50%;
  background-color: #fcd49f;
}

.fa-arrow-up:hover {
  cursor: pointer;
}

@media (max-width: 810px) {
  #infos-commandes {
    width: 60%;
  }
  #infos-commandes p {
    font-size: 20px;
  }
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 639px) {
  #mic {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  #infos-commandes {
    width: 70%;
  }
  #infos-commandes p {
    font-size: 15px;
  }
  h2 {
    font-size: 25px;
  }
}

@media (max-width: 430px) {
  #mic {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  #infos-commandes {
    width: 90%;
  }
  #infos-commandes p {
    font-size: 15px;
  }
  h2 {
    font-size: 25px;
  }
}
/*# sourceMappingURL=main.css.map */