@import "../utils/variables";
.btn-design{
    background-color: $dark-color;
    width: 500px;
    border: none;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    border-radius: 25px;
    padding: 20px 50px;
    color: $alternative-color;
    font-size: 30px;
    &:hover{
        transform: scale(1.001);
        transition: 0.4s ease-in;
        cursor: pointer;
    }
    transition: 0.4s ease-out;
    animation: anim-btn 4s infinite ease-in-out;
}

@keyframes anim-btn {
    0%{
        box-shadow: 3px 3px 12px rgb(0, 0, 0);
        transform: scale(1);
        background-color: lighten($color: $dark-color, $amount: 0);
    }
    50%{
        box-shadow: 5px 5px 12px rgb(0, 0, 0);
        transform: scale(1.005);
        background-color: lighten($color: $dark-color, $amount: 3);
    }
    100%{
        box-shadow: 3px 3px 12px rgb(0, 0, 0);
        transform: scale(1);
        background-color: lighten($color: $dark-color, $amount: 0);
    }
}

#ecoute{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mic-design{

    font-size: 40px;
    color: $dark-color;
    padding: 20px 25px;
    border: 2px black solid;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.287);
    background-color: $alternative-color;
    border-radius: 100%;
    &:hover{
        cursor: pointer;
    }

    

}

.anim-mic{

    animation: mic-on 5s infinite linear ;
}



@keyframes mic-on {
0%{
    box-shadow: 0px 0px 30px rgb(231, 177, 177) ;
    transform: rotate(0deg);
}

25%{
    box-shadow: 0px 0px 40px  rgb(251, 207, 125) ; 
     transform: rotate(-3deg);
}

50%{
    box-shadow: 0px 0px 20px rgb(180, 241, 180) ;
     transform: rotate(0deg);
}

75%{
    box-shadow: 0px 0px 50px rgb(136, 136, 231) ;
     transform: rotate(5deg);
}

100%{
    box-shadow: 0px 0px 30px rgb(231, 177, 177) ;
    transform: rotate(0deg);
}

}

#help-design{
    margin-top: 50px;
    font-size: 40px;
    color: $dark-color;
    padding: 20px 15px;
    border: 2px black solid;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.287);
    background-color: $alternative-color;
    border-radius: 100%;
    &:hover{
        cursor: pointer;
    }

}