@import "../utils/variables";


#ecoute{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mic-design{

    font-size: 40px;
    color: $dark-color;
    padding: 20px 25px;
    border: 2px black solid;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.287);
    border-radius: 100%;
    background-color: rgb(199, 255, 199);
    &:hover{
        cursor: pointer;
    }
}

.mic-off-design{

    font-size: 40px;
    color: $dark-color;
    padding: 20px 15px;
    border: 2px black solid;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.287);
    border-radius: 100%;
    background-color: rgb(255, 153, 229);
    &:hover{
        cursor: pointer;
    }
}

.anim-mic{
    background-color: rgb(162, 248, 162);
    animation: mic-on 5s infinite linear ;
    
}

.anim-mic-hold{
    background-color: rgb(251, 197, 152);
    animation: mic-on 5s infinite linear ;
    
}




@keyframes mic-on {
0%{
    transform: rotate(0deg);
}

25%{
    transform: rotate(10deg);
}


50%{

     transform: rotate(0deg);
}

75%{
    transform: rotate(-15deg);
}
100%{

    transform: rotate(0deg);
}

}

#help-design{
    font-size: 40px;
    color: $dark-color;
    padding: 20px 15px;
    border: 2px black solid;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.287);
    background-color: $alternative-color;
    border-radius: 100%;
    &:hover{
        cursor: pointer;
    }

}